@use "./../../helpers/mixins" as m;
@use "./../../helpers/variables" as v;
@use "../../components/Header/header" as header;
@use "./pbm-media" as pbm-m;
@use "../../components/Loader/loader" as loader;
@use "./JurnalPerkuliahan/jurnal-perkuliahan" as jurnal-perkuliahan;
@use "./Presensi/presensi" as presensi;
@use "./Transkrip/transkrip" as transkrip;
@use "./../../components/Feature/feature" as feature;

.pbm {
  @include m.flex($direction: column, $start: true);
  width: 100%;

  &-header {
    @include header.header();

    .action {
      @include m.flex();
      gap: 0.5rem;
      position: relative;

      // .download,
      .print {
        @include header.button($fs: 1.1vw);
      }

      .periode-modal {
        width: 150%;
        height: auto;
        position: absolute;
        background-color: #fff;
        top: 115%;
        right: 0;
        border-radius: 0.4vw;
        box-shadow: 0 0 4px rgba($color: #000, $alpha: 0.15);
        z-index: 43;

        &-content {
          padding: 0 0.95rem;
          height: 3.3rem;
          @include m.flex($justify: flex-start);
          cursor: pointer;
          color: map-get($map: v.$color, $key: "blue");
          transition: background-color 0.2s ease-in;

          &:hover {
            background-color: rgba(
              $color: map-get(v.$color, "other-blue"),
              $alpha: 0.2
            );
            transition: background-color 0.2s ease-out;
          }
        }
      }
    }
  }

  @include feature.feature();

  &-content {
    padding: v.$py-sidebar-content v.$px-topbar-content
      (v.$py-sidebar-content * 2.5);
    max-width: 100%;
    min-width: 100%;
    overflow: hidden;

    .pbm-table {
      @include m.flex($direction: column, $align: flex-start);
      overflow-x: auto;
      max-width: 100%;
      transition: width 0.4s ease-in;

      // &.expanded {
      //   width: 89.1vw;
      //   transition: width 0.4s ease-out;
      // }

      &.jurnal-perkuliahan {
        @include jurnal-perkuliahan.jurnal-perkuliahan();
      }

      &.presensi {
        @include presensi.presensi();
      }

      &.transkrip {
        @include transkrip.transkrip();
      }
    }

    @include loader.loader(40vh);
  }
}

@include pbm-m.pbm-media();
