@use "./../../helpers/mixins" as m;
@use "./../../helpers/variables" as v;
@use "../../components/HeaderEl/header-el" as header-el;
@use "./Document/document";
@use "./pbm-media" as pbm-m;

.pbm {
  @include m.flex($direction: column, $justify: flex-start, $align: flex-start);
  @include pbm-m.pbm-media();

  &-header {
    @include header-el.header-el();

    .action {
      @include m.flex();
      gap: 0.5rem;

      .download,
      .print {
        @include header-el.button();
      }
    }
  }

  &-submenu {
    @include m.flex($justify: flex-start);
    gap: 1.1vw;
    padding: 0 v.$px-topbar-content;
    margin-bottom: 0.8vh;
    width: 100%;

    &-link {
      @include m.flex();
      gap: 0.5vw;
      padding: 2.4vh 1.1vw;
      cursor: pointer;
      text-decoration: none;

      .icon {
        width: 20px;
        height: 20px;
        color: rgba($color: #000, $alpha: 0.5);
      }

      .text {
        color: rgba($color: #000, $alpha: 0.5);
      }

      &:hover {
        .icon {
          color: map-get($map: v.$color, $key: "blue");
        }

        .text {
          color: map-get($map: v.$color, $key: "blue");
        }
      }

      &.active {
        border-bottom: 0.2vw solid map-get($map: v.$color, $key: "blue");

        .icon {
          color: map-get($map: v.$color, $key: "blue");
        }

        .text {
          color: map-get($map: v.$color, $key: "blue");
        }
      }
    }
  }

  &-content {
    padding: v.$py-sidebar-content v.$px-topbar-content;

    .pbm-table {
      @include m.flex($direction: column, $align: flex-start);
      padding-bottom: v.$px-topbar-content;

      .thead {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr 3fr 3fr 1fr 2fr;

        .row {
          font-size: 1.1vw;
          font-weight: 600;
          color: rgba($color: #000, $alpha: 0.5);
          background-color: rgba(
            $color: map-get($map: v.$color, $key: "other-blue"),
            $alpha: 0.2
          );
          padding: 2vh 1.2vw;
          text-transform: capitalize;

          &:nth-child(1) {
            @include m.flex();
            border-top-left-radius: 0.6vw;
            border-bottom-left-radius: 0.6vw;
          }

          &:nth-child(3) &:nth-child(4) {
            @include m.flex($justify: flex-start);
          }

          &:nth-child(2),
          &:nth-child(5) {
            @include m.flex();
          }

          &:nth-child(6) {
            @include m.flex();
            border-top-right-radius: 0.6vw;
            border-bottom-right-radius: 0.6vw;
          }
        }
      }

      .tbody {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr 3fr 3fr 1fr 2fr;
        border-bottom: #ddd solid 0.15vw;

        .col {
          font-size: 1.1vw;
          color: rgba($color: #000, $alpha: 0.8);
          padding: 2vh 1.2vw;
          font-weight: 500;

          &:nth-child(1) {
            @include m.flex();
          }

          &:nth-child(3) {
            text-transform: uppercase;
            @include m.flex($justify: flex-start);
          }

          &:nth-child(4) {
            @include m.flex($justify: flex-start);
          }

          &:nth-child(2),
          &:nth-child(5) {
            @include m.flex();
          }

          &:nth-child(6) {
            @include m.flex();
            column-gap: 0.25vw;

            @mixin action($color) {
              padding: 0.4vw;
              border: $color solid 0.15vw;
              color: $color;
              border-radius: 0.3vw;
              cursor: pointer;

              .icon {
                @include m.flex();
              }
            }

            .edit {
              @include action($color: map-get(v.$color, "orange"));
            }

            .delete {
              @include action($color: map-get(v.$color, "red"));
            }
          }
        }
      }
    }
  }
}
