@use "../../../helpers/mixins" as m;
@use "../../../helpers/variables" as v;

@mixin transkrip() {
  .thead {
    display: grid;
    // grid-template-columns: repeat(11, 4rem);
    grid-template-columns: 5.2rem 8rem 5.2rem 12rem 11rem 5.2rem 8rem 12rem 7rem 7rem 7rem 7rem 5.2rem 5.2rem 5.2rem 6.5rem 8rem;

    .row {
      font-size: 1vw;
      font-weight: 600;
      color: rgba($color: #000, $alpha: 0.5);
      background-color: rgba(
        $color: map-get($map: v.$color, $key: "other-blue"),
        $alpha: 0.2
      );
      padding: 1.9vh 1vw;
      text-transform: capitalize;
      word-break: break-word;
      white-space: normal;
      line-height: 135%;
      text-align: center;
      @include m.flex();

      &:first-child {
        border-top-left-radius: 0.6vw;
        border-bottom-left-radius: 0.6vw;
      }

      &:last-child {
        border-top-right-radius: 0.6vw;
        border-bottom-right-radius: 0.6vw;
      }

      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(8),
      &:nth-child(17) {
        @include m.flex($justify: flex-start);
      }
    }
  }

  .tbody {
    display: grid;
    // grid-template-columns: repeat(11, 4rem);
    grid-template-columns: 5.2rem 8rem 5.2rem 12rem 11rem 5.2rem 8rem 12rem 7rem 7rem 7rem 7rem 5.2rem 5.2rem 5.2rem 6.5rem 8rem;
    border-bottom: #ddd solid 0.15vw;

    .col {
      font-size: 1vw;
      color: rgba($color: #000, $alpha: 0.8);
      padding: 3.6vh 1vw;
      font-weight: 500;
      line-height: 140%;
      word-break: break-word;
      white-space: normal;
      @include m.flex($align: flex-start);
      text-align: center;

      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(8),
      &:nth-child(17) {
        @include m.flex($start: true);
        text-align: start;
      }
    }
  }
}
