@use "../helpers/variables" as v;
@use "../helpers/mixins" as m;

@use "../components/Loader/loader" as loader;
@use "../components/EmptyData/empty-data";
@use "../components/Pagination/pagination";
@use "../pages/Error404/error404";
@use "../pages/Perwalian/perwalian";
@use "../pages/PBM/pbm";
@use "../pages/Auth/auth";
@use "../pages/Sinkronisasi/sinkronisasi";
@use "../layout/dashboard-layout";

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@include loader.loader();

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", serif;
  letter-spacing: 0.8px;
  font-weight: 500;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  min-height: 100vh;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="file"]::-webkit-file-upload-button {
  cursor: none;
}

.toast {
  z-index: 9999;
}

@media (min-width: 768px) {
  .Toastify__toast-container {
    width: 28vw;
  }
}
