@use "../../../helpers/mixins" as m;
@use "../../../helpers/variables" as v;

@mixin presensi() {
  .thead {
    display: grid;
    // grid-template-columns: repeat(11, 4rem);
    grid-template-columns: 0.4fr 1fr .9fr 1fr 0.7fr 0.5fr 0.5fr 0.5fr 0.5fr .8fr;
    width: 100%;

    .row {
      font-size: 1vw;
      font-weight: 600;
      color: rgba($color: #000, $alpha: 0.5);
      background-color: rgba(
        $color: map-get($map: v.$color, $key: "other-blue"),
        $alpha: 0.2
      );
      padding: 3.1vh 1vw;
      text-transform: capitalize;
      // word-break: break-word;
      // white-space: normal;
      line-height: 135%;
      text-align: center;
      @include m.flex();

      &:first-child {
        border-top-left-radius: 0.6vw;
        border-bottom-left-radius: 0.6vw;
      }

      &:last-child {
        border-top-right-radius: 0.6vw;
        border-bottom-right-radius: 0.6vw;
      }

      &:nth-child(2),
      &:nth-child(4) {
        @include m.flex($justify: flex-start);
      }
    }
  }

  .tbody {
    display: grid;
    // grid-template-columns: repeat(11, 4rem);
    grid-template-columns: 0.4fr 1fr .9fr 1fr 0.7fr 0.5fr 0.5fr 0.5fr 0.5fr .8fr;
    border-bottom: #ddd solid 0.15vw;
    width: 100%;

    .col {
      font-size: 1vw;
      color: rgba($color: #000, $alpha: 0.8);
      padding: 3.6vh 1vw;
      font-weight: 500;
      line-height: 140%;
      // word-break: break-word;
      // white-space: normal;
      @include m.flex($align: flex-start);
      text-align: center;

      &:nth-child(2),
      &:nth-child(4) {
        @include m.flex($start: true);
        text-align: start;
      }
    }
  }
}
