@use "./../../helpers/mixins" as m;
@use "./../../helpers/variables" as v;

@mixin modal-media() {
  @media (max-width: 575.98px) {
    .modal {
      max-width: 70vw;
      padding: 5.6vw 7.2vw 8.8vw;

      &-image {
        width: 15vw;
      }

      &-title {
        font-size: 4.8vw;
      }

      &-form {
        gap: 1.3vw;

        input,
        button {
          height: 6vh;
          font-size: 3.2vw;
          padding: 0 3.4vw;
        }
      }
    }
  }
}
