@use "../../helpers/mixins" as m;
@use "../../helpers/variables" as v;

@mixin header-el() {
  width: 100%;
  @include m.flex($justify: space-between);
  background-color: map-get($map: v.$color, $key: "light-grey");
  padding: v.$py-sidebar-content v.$px-topbar-content;
  border-bottom: 0.15vw solid #ddd;

  .menu {
    display: grid;
    grid-template-areas:
      "icon title"
      "icon desc";
    gap: 0.9vh 0.7vw;

    .icon {
      grid-area: icon;
      background-color: #fff;
      color: map-get($map: v.$color, $key: "blue");
      @include m.flex();
      padding: 0.65vw;
      box-shadow: rgba($color: #000, $alpha: 0.2) 0.5px 0.5px 2px;
      border-radius: 0.4vw;
    }

    .title {
      @include m.flex($align: flex-end, $justify: flex-start);
      grid-area: title;
      font-size: 1.3vw;
      font-weight: 600;
      color: rgba($color: #000, $alpha: 0.8);
      line-height: 100%;
    }

    .desc {
      @include m.flex($align: flex-start, $justify: flex-start);
      color: rgba($color: #000, $alpha: 0.5);
      grid-area: desc;
      font-size: 1vw;
      line-height: 100%;
    }
  }
}

@mixin button() {
  @include m.flex();
  column-gap: 0.4vw;
  border-radius: 0.4vw;
  background-color: map-get($map: v.$color, $key: "blue");
  color: #fff;
  padding: 0.8vw 1.2vw;
  cursor: pointer;

  .icon {
    width: 20px;
    height: 20px;
  }

  .text {
    font-size: 1vw;
  }
}
