@use "../../helpers/mixins" as m;
@use "../../helpers/variables" as v;
@use "../../components/Header/header" as header;
@use "../../components/Loader/loader" as loader;

.synchgrate {
  &-header {
    @include header.header();

    .action {
      @include m.flex();
      gap: 0.5rem;
      position: relative;

      .synchronize {
        @include header.button();
      }

      .synchronize-modal {
        width: 140%;
        height: 3.3rem;
        position: absolute;
        background-color: #fff;
        top: 115%;
        right: 0;
        border-radius: 0.4vw;
        box-shadow: 0 0 4px rgba($color: #000, $alpha: 0.15);

        &-content {
          padding: 0 0.95rem;
          height: 3.3rem;
          @include m.flex($justify: flex-start);
          cursor: pointer;
          color: map-get($map: v.$color, $key: "blue");
          transition: background-color 0.2s ease-in;

          &:hover {
            background-color: rgba(
              $color: map-get(v.$color, "other-blue"),
              $alpha: 0.2
            );
            transition: background-color 0.2s ease-out;
          }
        }
      }
    }
  }

  &-content {
    padding: v.$py-sidebar-content v.$px-topbar-content;
    max-width: 100%;
    min-width: 100%;
    overflow: hidden;

    @include loader.loader(40vh);
  }
}
